**/.DS_Store
**/node_modules/**
.idea/**
aeriallaptop/public/dist/anti-airborne-macos
aeriallaptop/public/dist/anti-airborne-linux
aeriallaptop/public/dist/filing-saucer-linux
aeriallaptop/public/dist/filing-saucer-macos
