<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <head>
    <title>Aerial Laptop</title>
    <meta property="og:title" content="Aerial Laptop">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="Welcome to the Aerial Laptop homepage!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body style="background-color:black;">>
    <h1 class="text-center text-muted">👋 Welcome</h1>
    <div id="break">
      <center><img src="https://i.imgur.com/xglYTRY.png" alt="Logo" width="250" height="250"></center>
    </div>
    <div id="wiki">
      <div class="split">
        <p class="text-center text-muted"><b>You can find information on our projects below!</b></p>
        <hr>
        <p class="text-center text-muted"><b>⭐️ Current</b></p>
        <% for (post of current) { %>
        <a href="/<%= post.slice(0, -3) %>">
          <div class="post">
            <center><%= post.replace(/.md|-|(current-)/g, ' '); %>
          </div>
        </a>
        <% } %></center>
        <br>
        <p class="text-center text-muted"><b>🕰 Legacy</b></p>
        <center><% for (post of legacy) { %>
        <a href="/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= post.replace(/.md|-|(legacy-)/g, ' '); %>
          </div>
        </a>
        <% } %></center>
    </div>
          <p class="text-center text-muted"><b>🔗 Links</b></p>
          <a href="https://github.com/Aerial-Laptop"><p class="text-center"><b>GitHub</b></p></a>
    </div>
    <footer>
      <p class="text-center text-muted">Contact us at aeriallaptop(a)enbyte.dev</p>
      <p class="text-center text-muted">&copy; <b>Aerial Laptop 2022</b></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
    <script>
      VANTA.TOPOLOGY({
        el: "#break",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0xff0000,
        backgroundColor: 0x000000
      })
    </script>
    <style>
      .split {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #000000;
        border-radius: .3rem;
      }
      .text-split {
        color: 969696;
      }
      /* unvisited link */
      a:link {
        color: red;
      }
      /* visited link */
      a:visited {
        color: red;
      }
      /* mouse over link */
      a:hover {
        color: red;
      }
      /* selected link */
      a:active {
        color: red;
      }
    </style>
</body>
</html>
