<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="main.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Enbyte</title>
    <link rel="icon" href="logo.png">
    <meta property="og:title" content="Enbyte">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="Welcome to my side of the internet!">
    <meta property="og:type" content="article">
  </head>
  <body>
    <div id=wrapper>
      <h1 class="text-center">Hello, I'm <b>Enbyte</b>!</h1>
      <div id="break">
        <br><br><br><br><br><br><br><br>
      </div>
      <div>
        <br>
        <h2 class="text-center text-dark"><b>Welcome to my side of the internet!</b></h2>
        <hr class="strong">
        <h4 class="text-center">My GitHub hosts my projects and Gists.</h4>
        <a href="https://github.com/enbytedev" class="text-center text-muted"><h3><b>GitHub</b> -- Enbyte</h3></a>
        <a href="https://gist.github.com/enbytedev" class="text-center text-muted"><h3><b>Gists</b> -- Enbyte</h3></a>
        <hr class="strong">
          <a href="mailto:me@enbyte.dev?subject=[enbyte.dev]:" class="text-center text-dark"><h1><b>Email Me</b></h1></a>
        <br>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
        <script>
          VANTA.TOPOLOGY({
            el: "#break",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x0,
            backgroundColor: 0xFFFFFF
          })
        </script>
        </script>
  </body>
      </div>
        <footer>
          <p class="text-center text-muted"><small>(c) Enbyte 2022</small></p>
        </footer>
</html>